


choice
	prompt "SOC to build for"

config MACH_EAGLE
       bool "ESP8266 eagle SOC"
       select ESP8266_DRIVERS
       select HAVE_UART
       select INTERRUPT_EVENTS
       select HAVE_IRQ_CONTROLLER
       select ISRS_IN_RAM
       select HAVE_LWIP
       select HAVE_GPIOS
       select HAVE_GPIO_TO_AF
       select HAVE_GPIO_EVENTS
       help
	"Build for the esp8266 chip"

endchoice

config ENABLE_TCP_SERVER_DEV
       bool "Enable tcp server device"
       default true if ARCH_XTENSA
       default false
       help
	"Say yes to enable a device which can be used to implement a tcp server"

config NR_INTERRUPTS
       int
       # "Virtual" IRQs, one line per interrupt cause.
       # For instance SPI IRQs are actually shared in hw, we setup and
       # interrupt event for each spi port
       default 32 if MACH_EAGLE


config MACH
       string
       default "eagle" if MACH_EAGLE


choice
	prompt "Target board for bathos"

config BOARD_STAR_8266
       bool "Arduino STAR board"
       help
	"Build for a STAR board"

config BOARD_MODULINO_8266
       bool "Modulino board (8266 soc)"
       help
	"Build for a MODULINO board"

config BOARD_PRIMO_MINI_8266
       bool "Primo mini board (8266 soc)"
       help
        "Build for a PRIMO MINI board"

endchoice

config BOARD
       default "star" if BOARD_STAR_8266
       default "modulino-8266" if BOARD_MODULINO_8266
       default "primo-mini" if BOARD_PRIMO_MINI_8266

config ESP8266_SERIAL_RX0_FIFO_INT_THRESHOLD
       int "Rx fifo full interrupt threshold, UART0"
       default 16 if MCUIO && MCUIO_PIPE_INPUT_PATH=uart0
       default 1

config ESP8266_SERIAL_RX1_FIFO_INT_THRESHOLD
       int "Rx fifo full interrupt threshold, UART1"
       default 16 if MCUIO && MCUIO_PIPE_INPUT_PATH=uart1
       default 1

config ESP8266_WIFI_DISABLE_AUTO_CONFIG
       bool "Disable automatic wlan configuration for the esp8266"
       default n
       help
         "Disable automatic wlan configuration (dhcp & wlan connection)"
